
#include "../Component.xccfg"

MACH_O_TYPE = staticlib

// Common search paths
SUBCOMPONENT_HDR_PATH =  "../../source/include/**" $(COMPONENT_HDR_PATH)

USER_HEADER_SEARCH_PATHS = $(SUBCOMPONENT_HDR_PATH)

//Prefix header is in SDK Headers
GCC_PREFIX_HEADER = SubComponent_Prefix.pch

// Precompile the prefix
GCC_PRECOMPILE_PREFIX_HEADER = YES


// Deployment location
PRODUCT_DEPLOYMENT_LOCATION = ../../../lib
